.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas:
    'h h'
    'n c'
    'f f';
  width: 1fr;
  margin: 0 auto;
}

.footer {
  grid-area: f;
  background: rgba(32, 105, 114, 0.585);
}


.app-wrapper-content {
  grid-area: c;
  background: rgb(91, 202, 230);
}