.header {
  display: grid;
  grid-template-columns: 2fr 10fr;
    grid-area: h;
    background: #303030;;
    color: white;
      }

h1 {
  align-self: center;
justify-self: center;}

img {
  align-self: center;
  justify-self: center;}